@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Kolker+Brush&family=Lato:wght@300;400&family=Manrope&family=Playfair+Display&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a,
.btn {
  transition: all 300ms ease;
}

h1{
  font-size: 44px;
  text-align: center;
}

p{
  font-size: 13px
}

.btn-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.7rem;
  width: 8rem;
  border-radius: 2rem;
  color: black;
  background: goldenrod;
}

.btn-color-1 {
  border: gold 0.1rem solid;
  cursor: pointer;
}

.btn-color-1:hover{
  background: gold;
}

.color-green{
  color: green;
}

.color-red{
  color: hsl(0, 80%, 64%);
}

/* index.html - header - nav */

#header{
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0.62,0,0,0.65), rgba(0,0.5,0,0.55));
}

#header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem 0.5rem  2.5rem;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: goldenrod;
  text-underline-offset: 0.5rem;
  text-decoration-color: gold;
}

.logo {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.logo img{
  width: 5rem;
}

/* index.html - header - hamburger-nav */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 0.25rem;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: none;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
  text-decoration: underline;
  color: goldenrod;
  text-underline-offset: 0.5rem;
  text-decoration-color: goldenrod;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* index.html - header section - content */

.content{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h1, .content p{
  color: white;
  text-align: center;
}

.content h5{
  font-size: 17px;
  color: white;
  text-align: center;
  padding-bottom: 0.3rem;
}

/* index.html - main section */

.section{
  padding-top: 2rem;
}

h4{
  font-size: 14px;
  text-align: center;
  padding-bottom: 0.6rem;
  color: rgb(69, 69, 69);
}

/* index.html - main section - about */

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-content{
  display: block;
  padding-left: 3rem;
  margin: auto;
}

.about-content i{
  margin-right: 10px
}

.about-img img{
  height: auto;
      width: 400px;
      margin: 10px 50px;
  border-radius: 10px;
}

/* index.html - main section - services */

.service-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workout{
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: background 0.5s, transform 0.5s;
}

.workout:hover{
  transform: translateY(-10px);
}

.service-item {
  width: 500px;
  height: 400px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.service-content{
  display: block;
}

/* index.html - main section - speaciality */

.speciality-content i{
  margin-right: 5px;
}

.speciality{
  margin-left: 3rem;
  margin-right: 3rem;
}

/* index.html - main section - calculate */
.calculate {
  padding-bottom: 4rem;
  background-color: #f8f8f8;
  text-align: center;
  margin-top: 1rem;
}

.calc-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: left;
}

.calc-content {
  max-width: 400px;
  margin: auto;
}

.calc-desc {
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-bottom: 2rem;
}

.calc-form {
  display: grid;
  gap: 1rem;
}

.calc-box {
  position: relative;
}

.calc-input {
  width: 100%;
  background: transparent;
  padding: 20px;
  outline: none;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 5px;
}

.calc-label {
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
  color: #333;
}

.calc-form button {
  width: 10rem;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calc-form button:hover {
  background-color: #45a049;
}

.calc-msg {
  margin-top: 1rem;
  font-weight: bold;
}

/* index.html - footer section 

.footer-nav ul{
  display: flex;
  justify-content: center;
}

.footer-nav ul li{
  list-style: none;
}

.footer-nav a{
  color: black;
  font-size: 14px;
  margin-left: 15px;
}
*/